*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    -webkit-font-smoothings:antialiased;
    -moz-font-smoothings:grayscale;
}

:root{
    --color-bg:hsla(0, 0%, 100%, 1);
    --color-bg-select:hsla(194, 97%, 31%, 1);
    --color-bg-no-select:hsla(240, 9%, 89%, 1);
    --color-font:hsla(240, 6%, 21%, 1);
}