*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    -webkit-font-smoothings:antialiased;
    -moz-font-smoothings:grayscale;
}

:root{
    --color-bg:hsla(0, 0%, 100%, 1);
    --color-bg-select:;
}